<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="header">
    <div class="menu-opener-container">
        <img class="menu-opener-icon" src="../../assets/header-icons/hamburger.png" alt="bars-menu">
    </div>
    <div class="header-title-container">
        <img src="../../assets/header-icons/crown.png" alt="chess-king">
        <h4 class="header-title">{{ title }}</h4>
    </div>
    <div class="cart-opener-container">
        <span class="cart-count-items"></span>
        <img class="cart-icon" src="../../assets/header-icons/add-cart.png" alt="shopping-cart">
    </div>
</div>